
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-blue-400 has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 class="mb-0">0390</h3>
                    <span class="text-uppercase font-size-xs">Ações EM MOVIMENTAÇÂO</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-balance icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-danger-400 has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 class="mb-0">0015</h3>
                    <span class="text-uppercase font-size-xs">Advogados PACEIROS</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-vcard icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-success-400 has-bg-image">
            <div class="media">
                <div class="mr-3 align-self-center">
                    <i class="icon-pencil6 icon-3x opacity-75"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="mb-0">0045</h3>
                    <span class="text-uppercase font-size-xs">peticionamentos realizados hoje</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-indigo-400 has-bg-image">
            <div class="media">
                <div class="mr-3 align-self-center">
                    <i class="icon-cash3 icon-3x opacity-75"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="mb-0">R$ 42.398,00</h3>
                    <span class="text-uppercase font-size-xs">faturamento do mês</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Volume de processos ano 2021</h5>
    </div>

    <div class="card-body">
        <div class="chart-container">
            <div class="chart" id="google-line">
                <div style="position: relative;">
                    <div style="position: relative; width: 1551px; height: 400px;" dir="ltr">
                        <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" aria-label="A chart.">
                            <svg width="1551" height="400" style="overflow: hidden;" aria-label="A chart.">
                                <defs id="_ABSTRACT_RENDERER_ID_13"><clipPath id="_ABSTRACT_RENDERER_ID_14"><rect x="78" y="25" width="1458" height="350"></rect></clipPath></defs>
                                <g><rect x="728" y="8" width="157" height="12" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><rect x="728" y="8" width="58" height="12" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="757" y="18.2" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">Novos</text></g><path d="M728,14L752,14" stroke="#ef5350" stroke-width="2" fill-opacity="1" fill="none"></path><circle cx="740" cy="14" r="4.5" stroke="none" stroke-width="0" fill="#ef5350"></circle></g><g><rect x="805" y="8" width="80" height="12" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="834" y="18.2" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">Processos Finalizados</text></g><path d="M805,14L829,14" stroke="#66bb6a" stroke-width="2" fill-opacity="1" fill="none"></path><circle cx="817" cy="14" r="4.5" stroke="none" stroke-width="0" fill="#66bb6a"></circle></g></g>
                                <g>
                                    <rect x="78" y="25" width="1458" height="350" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                                    <g clip-path="url(file:///D:/Projetos/themeforest-4qeQtMZ7-limitless-responsive-web-application-kit/Limitless_2_3/Template/layout_1/LTR/default/full/google_lines.html#_ABSTRACT_RENDERER_ID_14)"><g><rect x="78" y="374" width="1458" height="1" stroke="none" stroke-width="0" fill="#eeeeee"></rect><rect x="78" y="324" width="1458" height="1" stroke="none" stroke-width="0" fill="#eeeeee"></rect><rect x="78" y="274" width="1458" height="1" stroke="none" stroke-width="0" fill="#eeeeee"></rect><rect x="78" y="224" width="1458" height="1" stroke="none" stroke-width="0" fill="#eeeeee"></rect><rect x="78" y="175" width="1458" height="1" stroke="none" stroke-width="0" fill="#eeeeee"></rect><rect x="78" y="125" width="1458" height="1" stroke="none" stroke-width="0" fill="#eeeeee"></rect><rect x="78" y="75" width="1458" height="1" stroke="none" stroke-width="0" fill="#eeeeee"></rect><rect x="78" y="25" width="1458" height="1" stroke="none" stroke-width="0" fill="#eeeeee"></rect><rect x="78" y="349" width="1458" height="1" stroke="none" stroke-width="0" fill="#f8f8f8"></rect><rect x="78" y="299" width="1458" height="1" stroke="none" stroke-width="0" fill="#f8f8f8"></rect><rect x="78" y="249" width="1458" height="1" stroke="none" stroke-width="0" fill="#f8f8f8"></rect><rect x="78" y="200" width="1458" height="1" stroke="none" stroke-width="0" fill="#f8f8f8"></rect><rect x="78" y="150" width="1458" height="1" stroke="none" stroke-width="0" fill="#f8f8f8"></rect><rect x="78" y="100" width="1458" height="1" stroke="none" stroke-width="0" fill="#f8f8f8"></rect><rect x="78" y="50" width="1458" height="1" stroke="none" stroke-width="0" fill="#f8f8f8"></rect></g><g><rect x="78" y="374" width="1458" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect></g><g><path d="M260.625,125.21428571428572C260.625,125.21428571428572,503.45833333333337,68.70952380944073,624.875,82.83571428571429C746.2916666666666,96.96190476198791,867.7083333333335,204.15476190477023,989.125,209.9714285714286C1110.5416666666667,215.78809523808692,1353.375,117.73571428571427,1353.375,117.73571428571427" stroke="#ef5350" stroke-width="2" fill-opacity="1" fill="none"></path><path d="M260.625,274.7857142857143C260.625,274.7857142857143,503.45833333333337,289.74285714285713,624.875,259.8285714285714C746.2916666666666,229.9142857142857,867.7083333333335,98.62380952372644,989.125,95.30000000000001C1110.5416666666667,91.97619047627359,1353.375,239.8857142857143,1353.375,239.8857142857143" stroke="#66bb6a" stroke-width="2" fill-opacity="1" fill="none"></path></g></g>
                                    <g><circle cx="260.625" cy="125.21428571428572" r="4.5" stroke="none" stroke-width="0" fill="#ef5350"></circle><circle cx="624.875" cy="82.83571428571429" r="4.5" stroke="none" stroke-width="0" fill="#ef5350"></circle><circle cx="989.125" cy="209.9714285714286" r="4.5" stroke="none" stroke-width="0" fill="#ef5350"></circle><circle cx="1353.375" cy="117.73571428571427" r="4.5" stroke="none" stroke-width="0" fill="#ef5350"></circle><circle cx="260.625" cy="274.7857142857143" r="4.5" stroke="none" stroke-width="0" fill="#66bb6a"></circle><circle cx="624.875" cy="259.8285714285714" r="4.5" stroke="none" stroke-width="0" fill="#66bb6a"></circle><circle cx="989.125" cy="95.30000000000001" r="4.5" stroke="none" stroke-width="0" fill="#66bb6a"></circle><circle cx="1353.375" cy="239.8857142857143" r="4.5" stroke="none" stroke-width="0" fill="#66bb6a"></circle></g>
                                    <g>
                                        <g><text text-anchor="middle" x="260.625" y="391.7" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">1º trimestre</text></g>
                                        <g><text text-anchor="middle" x="624.875" y="391.7" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">2º trimestre</text></g>
                                        <g>
                                            <text text-anchor="middle" x="989.125" y="391.7" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">3º trimestre</text>
                                        </g>
                                        <g>
                                            <text text-anchor="middle" x="1353.375" y="391.7" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">4º trimestre</text>
                                        </g>

                                        <g>
                                            <text text-anchor="end" x="66" y="378.7" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">0</text>
                                        </g>
                                        <g>
                                            <text text-anchor="end" x="66" y="328.8429" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">200</text>
                                        </g>
                                        <g>
                                            <text text-anchor="end" x="66" y="278.9857" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">400</text>
                                        </g>
                                        <g>
                                            <text text-anchor="end" x="66" y="229.12859999999998" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">600</text>
                                        </g>
                                        <g>
                                            <text text-anchor="end" x="66" y="179.2714" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">800</text>
                                        </g>
                                        <g>
                                            <text text-anchor="end" x="66" y="129.4143" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">1,000</text>
                                        </g>
                                        <g>
                                            <text text-anchor="end" x="66" y="79.5571" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">1,200</text>
                                        </g>
                                        <g>
                                            <text text-anchor="end" x="66" y="29.7" font-family="Roboto" font-size="12" stroke="none" stroke-width="0" fill="#333333">1,400</text>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <text text-anchor="middle" x="23.05" y="200" font-family="Roboto" font-size="13" transform="rotate(-90 23.05 200)" stroke="none" stroke-width="0" fill="#333333">Processos X Ano</text>
                                        <path d="M11.999999999999988,375L12.000000000000009,25L25.00000000000001,25L24.99999999999999,375Z" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></path>
                                    </g>
                                </g>
                                <g></g>
                            </svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                            </div>
                        </div>
                    </div><div style="display: none; position: absolute; top: 410px; left: 1561px; white-space: nowrap; font-family: Roboto; font-size: 12px;" aria-hidden="true">Expenses</div><div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>