USE [master]
GO
/****** Object:  Database [techjur]    Script Date: 29/08/2021 21:25:30 ******/
CREATE DATABASE [techjur]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'techjur', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\techjur.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'techjur_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\techjur_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [techjur].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [techjur]
GO
/****** Object:  Table [dbo].[Acao]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idClasse] [int] NOT NULL,
	[idAssunto] [int] NOT NULL,
	[idMovimento] [int] NULL,
	[idRito] [int] NOT NULL,
	[descricao] [varchar](1000) NOT NULL,
	[valorCausa] [decimal](18, 2) NOT NULL,
	[numeroProcesso] [varchar](30) NULL,
 CONSTRAINT [PK_Acao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcaoMovimento]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcaoMovimento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idAcao] [int] NOT NULL,
	[idClasse] [int] NOT NULL,
	[idAssunto] [int] NOT NULL,
	[idMovimento] [int] NULL,
	[idRito] [int] NOT NULL,
	[valorCausa] [decimal](18, 2) NOT NULL,
	[numeroProcesso] [varchar](30) NULL,
	[ocorrencia] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AcaoMovimento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcaoMovimentoDocumento]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcaoMovimentoDocumento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idAcaoMovimento] [int] NOT NULL,
	[documento] [varbinary](max) NOT NULL,
	[documentoMime] [varchar](100) NOT NULL,
	[hash] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_AcaoMovimentoDocumento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcaoParte]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcaoParte](
	[idAcao] [int] NOT NULL,
	[idPessoa] [int] NOT NULL,
	[idAcaoParteTipo] [int] NOT NULL,
 CONSTRAINT [PK_AcaoParte] PRIMARY KEY CLUSTERED 
(
	[idAcao] ASC,
	[idPessoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcaoParteTipo]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcaoParteTipo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
 CONSTRAINT [PK_AcaoPartes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assunto]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assunto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Assunto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classe]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classe](
	[id] [int] NOT NULL,
	[descricao] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Classe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimento]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Movimento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacao]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [char](11) NOT NULL,
	[titulo] [varchar](200) NOT NULL,
	[url] [varchar](200) NULL,
	[criadoEm] [datetime] NOT NULL,
	[vistoEm] [datetime] NULL,
 CONSTRAINT [PK_Notificacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rito]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Rito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegurancaLogEnvio]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SegurancaLogEnvio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [char](11) NOT NULL,
	[idAcaoMovimentoDocumento] [int] NOT NULL,
	[ocorrencia] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SegurancaLogEnvio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegurancaUsuario]    Script Date: 29/08/2021 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SegurancaUsuario](
	[id] [char](11) NOT NULL,
	[nome] [varchar](250) NOT NULL,
	[senha] [varchar](255) NOT NULL,
 CONSTRAINT [PK_SegurancaUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Acao] ON 

INSERT [dbo].[Acao] ([id], [idClasse], [idAssunto], [idMovimento], [idRito], [descricao], [valorCausa], [numeroProcesso]) VALUES (2, 3, 8, NULL, 1, N'Cobrança indevida', CAST(12000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Acao] ([id], [idClasse], [idAssunto], [idMovimento], [idRito], [descricao], [valorCausa], [numeroProcesso]) VALUES (3, 3, 8, NULL, 1, N'Cobrança indevida 2', CAST(23232.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Acao] OFF
SET IDENTITY_INSERT [dbo].[AcaoMovimento] ON 

INSERT [dbo].[AcaoMovimento] ([id], [idAcao], [idClasse], [idAssunto], [idMovimento], [idRito], [valorCausa], [numeroProcesso], [ocorrencia]) VALUES (1, 3, 3, 8, NULL, 1, CAST(23232.00 AS Decimal(18, 2)), NULL, CAST(N'2021-08-28T17:37:01.1603655' AS DateTime2))
INSERT [dbo].[AcaoMovimento] ([id], [idAcao], [idClasse], [idAssunto], [idMovimento], [idRito], [valorCausa], [numeroProcesso], [ocorrencia]) VALUES (3, 3, 4, 8, 1, 1, CAST(23232.00 AS Decimal(18, 2)), N'32323', CAST(N'2021-08-28T19:22:18.5766667' AS DateTime2))
INSERT [dbo].[AcaoMovimento] ([id], [idAcao], [idClasse], [idAssunto], [idMovimento], [idRito], [valorCausa], [numeroProcesso], [ocorrencia]) VALUES (4, 2, 3, 8, 1, 1, CAST(12000.00 AS Decimal(18, 2)), NULL, CAST(N'2021-08-28T22:19:16.8651247' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AcaoMovimento] OFF
SET IDENTITY_INSERT [dbo].[AcaoMovimentoDocumento] ON 

SET IDENTITY_INSERT [dbo].[AcaoMovimentoDocumento] OFF
SET IDENTITY_INSERT [dbo].[AcaoParteTipo] ON 

INSERT [dbo].[AcaoParteTipo] ([id], [descricao]) VALUES (1, N'Requerente')
INSERT [dbo].[AcaoParteTipo] ([id], [descricao]) VALUES (2, N'Requerido')
INSERT [dbo].[AcaoParteTipo] ([id], [descricao]) VALUES (3, N'Testemunha')
SET IDENTITY_INSERT [dbo].[AcaoParteTipo] OFF
SET IDENTITY_INSERT [dbo].[Assunto] ON 

INSERT [dbo].[Assunto] ([id], [descricao]) VALUES (1, N'DANOS MORAIS')
INSERT [dbo].[Assunto] ([id], [descricao]) VALUES (2, N'DANOS MATERIAIS')
INSERT [dbo].[Assunto] ([id], [descricao]) VALUES (3, N'DIREITO AMBIENTAL')
SET IDENTITY_INSERT [dbo].[Assunto] OFF
INSERT [dbo].[Classe] ([id], [descricao]) VALUES (3, N'PROCEDIMENTO DO JUIZADO ESPECIAL CÍVEL')
INSERT [dbo].[Classe] ([id], [descricao]) VALUES (4, N'PROCEDIMENTOS PRÉ-PROCESSUAIS DE RESOLUÇÃO CONSENSUAL DE CONFLITOS')
INSERT [dbo].[Classe] ([id], [descricao]) VALUES (5, N'PROCESSO CÍVEL E DO TRABALHO')
SET IDENTITY_INSERT [dbo].[Movimento] ON 

INSERT [dbo].[Movimento] ([id], [descricao]) VALUES (1, N'Juntada Petição')
INSERT [dbo].[Movimento] ([id], [descricao]) VALUES (2, N'Despacho')
INSERT [dbo].[Movimento] ([id], [descricao]) VALUES (3, N'Julgamento')
SET IDENTITY_INSERT [dbo].[Movimento] OFF
SET IDENTITY_INSERT [dbo].[Rito] ON 

INSERT [dbo].[Rito] ([id], [descricao]) VALUES (1, N'Rito Especial Civel')
INSERT [dbo].[Rito] ([id], [descricao]) VALUES (2, N'Rito Cível')
SET IDENTITY_INSERT [dbo].[Rito] OFF
SET IDENTITY_INSERT [dbo].[SegurancaLogEnvio] ON 

INSERT [dbo].[SegurancaLogEnvio] ([id], [idUsuario], [idAcaoMovimentoDocumento], [ocorrencia]) VALUES (1, N'10020030044', 6, CAST(N'2021-08-28T22:31:19.0839178' AS DateTime2))
INSERT [dbo].[SegurancaLogEnvio] ([id], [idUsuario], [idAcaoMovimentoDocumento], [ocorrencia]) VALUES (2, N'10020030044', 7, CAST(N'2021-08-28T22:35:23.2477041' AS DateTime2))
INSERT [dbo].[SegurancaLogEnvio] ([id], [idUsuario], [idAcaoMovimentoDocumento], [ocorrencia]) VALUES (3, N'10020030044', 8, CAST(N'2021-08-28T22:36:31.4934679' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SegurancaLogEnvio] OFF
INSERT [dbo].[SegurancaUsuario] ([id], [nome], [senha]) VALUES (N'10020030044', N'Luana Cavalcante', N'123123')
ALTER TABLE [dbo].[AcaoMovimento] ADD  CONSTRAINT [DF_AcaoMovimento_ocorrencia]  DEFAULT (getdate()) FOR [ocorrencia]
GO
ALTER TABLE [dbo].[Acao]  WITH CHECK ADD  CONSTRAINT [FK_Acao_Assunto] FOREIGN KEY([idAssunto])
REFERENCES [dbo].[Assunto] ([id])
GO
ALTER TABLE [dbo].[Acao] CHECK CONSTRAINT [FK_Acao_Assunto]
GO
ALTER TABLE [dbo].[Acao]  WITH CHECK ADD  CONSTRAINT [FK_Acao_Classe] FOREIGN KEY([idClasse])
REFERENCES [dbo].[Classe] ([id])
GO
ALTER TABLE [dbo].[Acao] CHECK CONSTRAINT [FK_Acao_Classe]
GO
ALTER TABLE [dbo].[Acao]  WITH CHECK ADD  CONSTRAINT [FK_Acao_Movimento] FOREIGN KEY([idMovimento])
REFERENCES [dbo].[Movimento] ([id])
GO
ALTER TABLE [dbo].[Acao] CHECK CONSTRAINT [FK_Acao_Movimento]
GO
ALTER TABLE [dbo].[Acao]  WITH CHECK ADD  CONSTRAINT [FK_Acao_Rito] FOREIGN KEY([idRito])
REFERENCES [dbo].[Rito] ([id])
GO
ALTER TABLE [dbo].[Acao] CHECK CONSTRAINT [FK_Acao_Rito]
GO
ALTER TABLE [dbo].[AcaoMovimento]  WITH CHECK ADD  CONSTRAINT [FK_AcaoMovimento_Acao] FOREIGN KEY([idAcao])
REFERENCES [dbo].[Acao] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcaoMovimento] CHECK CONSTRAINT [FK_AcaoMovimento_Acao]
GO
ALTER TABLE [dbo].[AcaoMovimento]  WITH CHECK ADD  CONSTRAINT [FK_AcaoMovimento_Assunto] FOREIGN KEY([idAssunto])
REFERENCES [dbo].[Assunto] ([id])
GO
ALTER TABLE [dbo].[AcaoMovimento] CHECK CONSTRAINT [FK_AcaoMovimento_Assunto]
GO
ALTER TABLE [dbo].[AcaoMovimento]  WITH CHECK ADD  CONSTRAINT [FK_AcaoMovimento_Classe] FOREIGN KEY([idClasse])
REFERENCES [dbo].[Classe] ([id])
GO
ALTER TABLE [dbo].[AcaoMovimento] CHECK CONSTRAINT [FK_AcaoMovimento_Classe]
GO
ALTER TABLE [dbo].[AcaoMovimento]  WITH CHECK ADD  CONSTRAINT [FK_AcaoMovimento_Movimento] FOREIGN KEY([idMovimento])
REFERENCES [dbo].[Movimento] ([id])
GO
ALTER TABLE [dbo].[AcaoMovimento] CHECK CONSTRAINT [FK_AcaoMovimento_Movimento]
GO
ALTER TABLE [dbo].[AcaoMovimento]  WITH CHECK ADD  CONSTRAINT [FK_AcaoMovimento_Rito] FOREIGN KEY([idRito])
REFERENCES [dbo].[Rito] ([id])
GO
ALTER TABLE [dbo].[AcaoMovimento] CHECK CONSTRAINT [FK_AcaoMovimento_Rito]
GO
ALTER TABLE [dbo].[AcaoMovimentoDocumento]  WITH CHECK ADD  CONSTRAINT [FK_AcaoMovimentoDocumento_AcaoMovimento] FOREIGN KEY([idAcaoMovimento])
REFERENCES [dbo].[AcaoMovimento] ([id])
GO
ALTER TABLE [dbo].[AcaoMovimentoDocumento] CHECK CONSTRAINT [FK_AcaoMovimentoDocumento_AcaoMovimento]
GO
ALTER TABLE [dbo].[AcaoParte]  WITH CHECK ADD  CONSTRAINT [FK_AcaoParte_Acao] FOREIGN KEY([idAcao])
REFERENCES [dbo].[Acao] ([id])
GO
ALTER TABLE [dbo].[AcaoParte] CHECK CONSTRAINT [FK_AcaoParte_Acao]
GO
ALTER TABLE [dbo].[AcaoParte]  WITH CHECK ADD  CONSTRAINT [FK_AcaoParte_AcaoParteTipo] FOREIGN KEY([idAcaoParteTipo])
REFERENCES [dbo].[AcaoParteTipo] ([id])
GO
ALTER TABLE [dbo].[AcaoParte] CHECK CONSTRAINT [FK_AcaoParte_AcaoParteTipo]
GO
ALTER TABLE [dbo].[AcaoParte]  WITH CHECK ADD  CONSTRAINT [FK_AcaoParte_Pessoa] FOREIGN KEY([idPessoa])
REFERENCES [dbo].[Pessoa] ([id])
GO
ALTER TABLE [dbo].[AcaoParte] CHECK CONSTRAINT [FK_AcaoParte_Pessoa]
GO
ALTER TABLE [dbo].[Notificacao]  WITH CHECK ADD  CONSTRAINT [FK_Notificacao_SegurancaUsuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[SegurancaUsuario] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notificacao] CHECK CONSTRAINT [FK_Notificacao_SegurancaUsuario]
GO
ALTER TABLE [dbo].[SegurancaLogEnvio]  WITH CHECK ADD  CONSTRAINT [FK_SegurancaLogEnvio_AcaoMovimentoDocumento] FOREIGN KEY([idAcaoMovimentoDocumento])
REFERENCES [dbo].[AcaoMovimentoDocumento] ([id])
GO
ALTER TABLE [dbo].[SegurancaLogEnvio] CHECK CONSTRAINT [FK_SegurancaLogEnvio_AcaoMovimentoDocumento]
GO
ALTER TABLE [dbo].[SegurancaLogEnvio]  WITH CHECK ADD  CONSTRAINT [FK_SegurancaLogEnvio_SegurancaUsuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[SegurancaUsuario] ([id])
GO
ALTER TABLE [dbo].[SegurancaLogEnvio] CHECK CONSTRAINT [FK_SegurancaLogEnvio_SegurancaUsuario]
GO
USE [master]
GO
