@{

}
<div class="row">
    <div class="col-lg-4">
        <div class="mb-3">
            <h6 class="mb-0 font-weight-semibold">
                Movimentações
            </h6>
            <span class="text-muted d-block">Ações com prazo expirando</span>
        </div>
        <div class="card border-left-3 border-left-danger rounded-left-0">
            <div class="card-body">
                <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
                    <div>
                        <ul class="list list-unstyled mb-0">
                            <li>Fase: <span class="font-weight-semibold">Contestanção</span></li>
                            <li>Movimento: <span class="font-weight-semibold"></span></li>
                            <li>PRAZO: <span class="font-weight-semibold warning">22/03/2020 (faltam 2 dias para expirar)</span></li>
                        </ul>
                    </div>

                    <div class="text-sm-right mb-0 mt-3 mt-sm-0 ml-auto">
                        <h6 class="font-weight-semibold">VALOR DA CAUSA R$ 80.000,00</h6>
                    </div>
                </div>
            </div>

            <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                <span>
                    <span class="badge badge-mark border-danger mr-2"></span>
                    <span class="font-weight-semibold">10/07/2019</span>
                </span>

                <ul class="list-inline list-inline-condensed mb-0 mt-2 mt-sm-0">
                    <li class="list-inline-item dropdown">
                        <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> SUAS AÇÕES </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/Acao/Peticionar/2" class="dropdown-item"><i class="icon-pencil6"></i> Peticionar</a>
                            <a href="#" class="dropdown-item"><i class="icon-archive"></i> Pesquisar Jurisprudência</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card border-left-3 border-left-danger rounded-left-0">
            <div class="card-body">
                <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
                    <div>
                        <ul class="list list-unstyled mb-0">
                            <li>Fase: <span class="font-weight-semibold">Contestanção</span></li>
                            <li>Movimento: <span class="font-weight-semibold"></span></li>
                            <li>PRAZO: <span class="font-weight-semibold warning">02/03/2020 (faltam 10 dias para expirar)</span></li>
                        </ul>
                    </div>

                    <div class="text-sm-right mb-0 mt-3 mt-sm-0 ml-auto">
                        <h6 class="font-weight-semibold">VALOR DA CAUSA R$ 69.000,00</h6>
                    </div>
                </div>
            </div>

            <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                <span>
                    <span class="badge badge-mark border-danger mr-2"></span>
                    <span class="font-weight-semibold">20/05/2019</span>
                </span>

                <ul class="list-inline list-inline-condensed mb-0 mt-2 mt-sm-0">
                    <li class="list-inline-item dropdown">
                        <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> SUAS AÇÕES </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/Acao/Peticionar/2" class="dropdown-item"><i class="icon-pencil6"></i> Peticionar</a>
                            <a href="#" class="dropdown-item"><i class="icon-archive"></i> Pesquisar Jurisprudência</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="mb-3">
            <h6 class="mb-0 font-weight-semibold">
                Últimos Diários
            </h6>
            <span class="text-muted d-block">Diários Oficiais importados</span>
        </div>
        <div class="card">
            <table class="table table-bordered table-hover datatable-highlight dataTable no-footer" id="DataTables_Table_2" role="grid" aria-describedby="DataTables_Table_2_info">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="First Name: activate to sort column descending">Diários</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending">Data</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Job Title: activate to sort column ascending">Citação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Diário da Justiça - RO</td>
                        <td class="">13/10/2021</td>
                        <td><span class="badge badge-danger">01</span></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Diário da Justiça - RO</td>
                        <td class="">22/08/2021</td>
                        <td><span class="badge badge-danger">01</span></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Diário da Justiça - RO</td>
                        <td class="">21/07/2021</td>
                        <td><span class="badge badge-danger">01</span></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">DIOF TFT 1º Região</td>
                        <td class="">09/07/2021</td>
                        <td><span class="badge badge-danger">01</span></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Diário da Justiça - RO</td>
                        <td class="">29/06/2021</td>
                        <td><span class="badge badge-danger">01</span></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Diário da Justiça - RO</td>
                        <td class="">28/06/2021</td>
                        <td><span class="badge badge-danger">01</span></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Diário da Justiça - RO</td>
                        <td class="">25/06/2021</td>
                        <td><span class="badge badge-danger">01</span></td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">Diário da Justiça - DF</td>
                        <td class="">12/06/2021</td>
                        <td><span class="badge badge-danger">01</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>