
<div class="card card-sidebar-mobile">
    <ul class="nav nav-sidebar" data-nav-type="accordion">
        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Advogado</div> <i class="icon-menu" title="Data visualization"></i></li>
        <li class="nav-item">
            <a href="/Home" class="nav-link"><i class="icon-home"></i> <span>Home</span></a>
            <a href="/Acao" class="nav-link"><i class="icon-balance"></i> <span>Ações</span></a>
            <a href="/SegurancaLogEnvio" class="nav-link"><i class="icon-clipboard3"></i> <span>Registros de envios</span></a>
        </li>
        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Cadastros</div> <i class="icon-menu" title="Data visualization"></i></li>
        <li>
            <a href="/Home" class="nav-link"><i class="icon-users"></i> <span>Clientes</span></a>
            <a href="/Home" class="nav-link"><i class="icon-book2"></i> <span>Classe</span></a>
            <a href="/Home" class="nav-link"><i class="icon-menu6"></i> <span>Assunto</span></a>
            <a href="/Home" class="nav-link"><i class="icon-spinner9"></i> <span>Movimento</span></a>
            <a href="/Home" class="nav-link"><i class="icon-certificate"></i> <span>Competência</span></a>
        </li>
        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Escritório</div> <i class="icon-menu" title="Data visualization"></i></li>
        <li>
            <a href="/Escritorio/Dashboard" class="nav-link"><i class="icon-statistics"></i> <span>Dashboard</span></a>
            <a href="/Home" class="nav-link"><i class="icon-vcard"></i> <span>Advogados</span></a>
            <a href="/Home" class="nav-link"><i class="icon-cash3"></i> <span>Faturamento</span></a>
        </li>
    </ul>
</div>